:root {
  --color-primary: #c3073f;
  --color-secondary: #950740;
  --color-tertiary: #6f2232;
  --color-primary-darker: #1a1a1d;
  --color-secondary-darker: #4e4e51;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--color-primary-darker);
}
.navbar {
  text-align: center;
}
.menu-list {
  list-style-type: none;
  margin: 1em;
  display: none;
}
.menu-list li {
  display: inline;
  margin-left: 2em;
}
.menu-list li a {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
}
.menu-list li a:hover {
  background-color: var(--color-primary);
  color: black;
}
.logo {
  height: auto;
  width: 4em;
  left: 0;
  top: 0;
  position: absolute;
  margin: 1em;
  transition-property: transform;
  transition-duration: 1s;
}
.logo:hover {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.burger-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: 2em;
  height: auto;
  cursor: pointer;
}
@media screen and (min-width: 763px) {
  .menu-list {
    display: block;
  }
  .burger-icon {
    display: none;
  }
  .group-name {
    margin-top: 4em;
  }
}
.first-page {
  text-align: center;
}

.group-name {
  margin-top: 8em;
  width: 25%;
  height: auto;
}
