:root {
  --color-primary: #c3073f;
  --color-secondary: #950740;
  --color-tertiary: #6f2232;
  --color-primary-darker: #1a1a1d;
  --color-secondary-darker: #4e4e51;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--color-primary-darker);
}
.navbar {
  background-color: #1a1a1d;
  height: 7vh;
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 99;
}
.menu-list {
  list-style-type: none;
  margin: 1em;
  display: none;
}
.menu-list li {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  font-size: 2em;
  color: white;
  cursor: pointer;
}
.menu-list li a {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
}
.menu-list li a:hover {
  background-color: var(--color-primary);
  color: black;
}
.logo {
  height: auto;
  width: 4em;
  left: 0;
  top: 0;
  position: absolute;
  margin: 1em;
  transition-property: transform;
  transition-duration: 1s;
}
.logo:hover {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.burger-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: 2em;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

.mobile-menu {
  display: none;
  background: rgba(33, 32, 32, 0.761);
  position: absolute;
  height: 100vh;
  width: 100%;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.first-page {
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  color: white;
}

.second-page {
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  background-color: white;
}
.second-page h6 {
  font-style: italic;
}

.title {
  margin: 10%;
}

.title-new-page {
  padding-top: 8vh;
  margin: 10%;
}

.team-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-top: 10%;
}
.profile-photo-container {
  height: 100%;
  width: 30%;
  margin: 1em;
}
.team-presentation-paragraph {
  width: 60vw;
}
.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #1a1a1d;
}

.skillbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.skillbox-background {
  position: relative;
  margin: 3%;
  width: 40%;
  height: 20vh;
  background-color: rgba(105, 105, 105, 0.1);
}

.skillbox-to-fill {
  height: 100%;
  width: 0%;
  background-color: rgba(149, 7, 64, 0.6);
}

.skillbox-text-container {
  font-size: smaller;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 1em;
  z-index: 1;
}

.third-page {
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  color: white;
}

.fourth-page {
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  background-color: white;
}

.menu-list-browser {
  display: none;
}
.group-name {
  margin-top: 8em;
  width: 25%;
  height: auto;
}

@media screen and (min-width: 763px) {
  .logo {
    min-height: fit-content;
    min-width: fit-content;
  }
  .browser-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
  }
  .navbar {
    height: 7vh;
  }

  .menu-list-browser {
    list-style-type: none;
    display: inline;
  }
  .menu-list-browser li {
    margin-left: 3em;
    list-style-type: none;
    display: inline;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0.5em;
  }
  .menu-list-browser li:hover {
    background-color: var(--color-primary);
    color: black;
  }
  .mobile-menu {
    display: none;
  }
  .menu-list li a {
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
  }
  .burger-icon {
    display: none;
  }

  .first-page {
    text-align: center;
  }

  .group-name {
    margin-top: 8em;
    width: 25%;
    height: auto;
  }
  .title-new-page {
    margin: 0 15% 7.5% 15%;
  }

  .second-page {
    display: inline-block;
  }

  .team-presentation {
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    width: 20%;
    max-width: 45%;
  }

  .profile-photo-container {
    display: inline-block;
    width: 70%;
  }
  .team-presentation-paragraph {
    width: auto;
  }
}

/* .skillbox-container{
  display: flex;
  width: 49%;
  float: left;
}
.skillbox-background{
  width: 50%;
  margin: 0 1em 10vh 1em;
} */

/* SLIDER */

.slider {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 1s;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide1 {
  z-index: 2;
}

.btn-pause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  display: none;
}

.play {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
